@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



.App{
  width : 100vw;
  height: 200vw;
  display: flex;
  flex-direction: column;
  background-color: #a5aff2;
  background: radial-gradient( #a1aeff, #7d8dfa);
  font-family: "Robot";
}

.Heading{
  text-decoration: none;
  text-align: left;
  font-size: 3vw;
  font-family: "Neucha", cursive;
  color: aliceblue;
}
