@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@200&family=EB+Garamond&family=Neucha&display=swap');

:root{
    --DetailsFontSize: 0px;
    --DetailsFontSizeMax: 20px;

}

.TagsOnCard{
    display: inline-block;
    position: sticky absolute;
    bottom: 10px;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.cardTag{
    color: #5667c6;
    position:static;
    display: inline-block;
    bottom: 5px;
}

.checkBox{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.cardText{
    font-family:  'EB Garamond' ;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.SymptomInfoIcon{
    top: 10px;
    position: sticky;
    font-size: large;

}



.card:has(.SymptomInfoIcon:hover){
    width: 240px;
    height: 240px;
    --DetailsFontSize: var(--DetailsFontSizeMax);

}


.card {
    font-family: 'Anuphan';
    position: relative;
    background: radial-gradient(#c3c9f0, #8f9acf); /* Slight green tinge background */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow effect */
    padding: 30px; /* Add some padding to create space between content and border */
    border-radius: 20px; /* Add some border-radius to create rounded corners */
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;


    transition: height 0.8s, width 0.8s;
}

.cardColoured{
    font-family: 'Anuphan';
    position: relative;
    background: radial-gradient(#ffe368, #27ff72); /* Slight green tinge background */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow effect */
    padding: 30px; /* Add some padding to create space between content and border */
    border-radius: 20px; /* Add some border-radius to create rounded corners */
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;


    transition: height 1s, width 1s;
}
.cardColoured:has(.SymptomInfoIcon:hover){
    width: 230px;
    height: 230px;
    --DetailsFontSize: var(--DetailsFontSizeMax);

}

.cardColoured.symptomType0{
    background: radial-gradient(#ffbb71, #f97777);
}

.cardColoured.symptomType0 > .cardDetails{
    color:rgb(88, 88, 212);
}

.cardColoured.symptomType1{
    background: radial-gradient(#7290fd, #6f71ff);
}

.cardColoured.symptomType2{
    background: radial-gradient(#f7f08b, #d5c548);
}

.cardColoured.symptomType2 > .cardDetails{
    color: #526abd;
    font-weight: bolder;
}

.cardDetails{
    font-family: 'Anuphan';
    font-weight: bolder;
    color: whitesmoke;
    font-size: var(--DetailsFontSize);
}

.cardDetails:hover{
    --DetailsFontSize: var(var(--DetailsFontSizeMax))
}

.grid-item{
    position: sticky;
}
