.NavHome{
    position: sticky;
    align-items: center;
    font-size: 50px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 360px;
    border-width: 20px;
    margin: auto;
    text-decoration: none;
    color: aliceblue;
}



.NavMenu{  
    
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    line-height: 40px;
    border: none;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
}

.NavMenu2{
    border-radius: 50px;
    padding: 15px 18px;
    font-size: 25px;
    line-height: 40px;
    border: none;
    transition: 0.2s;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.NavMenu:hover, .NavMenu2:hover {
    color: #e66465;
    background: radial-gradient(#c6edd0, #b9ffca);
}

.NavText{
   text-decoration: none;
   color: rgb(55, 55, 55);
   color: aliceblue;
   font-size: 36px;
}

.NavMenu:hover > .NavText, .NavMenu2:hover > .NavText{
    color: rgb(12, 184, 75);;
}

.navMenuListItem{
    display: inline;
    list-style-type: none;
    margin-right: 5px;
    margin-left: 5px;
    color: aliceblue;
}

.NavMenuList{
    color: aliceblue;
}