.TodaysGraph{
    width: 50vw;
    margin: auto;
}

.SymptomsAndStrategiesDiv{
    width: 100vw;
    text-align: center;
   
}

.SymptomsAndStrategiesHeader{
    text-align: center;
    margin: auto;
    width: 80vw;
    margin: 30px;
    display: inline-flex;


}

.SymptomsList{
    width: 80vw;
    text-align: center;
    margin: auto;

}

.SelectedSymptomList{
    width: 80vw;
    text-align: center;
    margin: auto;
}